em{
  font-weight: normal;
  font-style: italic;
  color: black;
}

.sidehighlight{
  border-left: solid #00dada 2px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.projectpage{
  padding-top: 40px;
  color: black;
}

.projectpage_intro{
  width: 1090px;
  margin: auto;
  text-align: center;
}

.projectpage_intro h2{
  letter-spacing: 3px;
  font-size: 45px;
  font-weight: normal;
  margin-bottom: -8px;
}

.projectpage_intro p{
  font-style: italic;
  font-weight: bold;
}

.projectpage_banner img{
  width: 890px;
  margin: auto;
}

.projectpage_banner {
  width: 890px;
  margin: auto;
}

section {
  width: 850px;
  margin: 30px auto;
  /* background-color: #f0efef; */
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
}

section h4{
  letter-spacing: 2px;
  font-size: 35px;
  font-weight: normal;
}

section h5{
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: normal;
}

section img{
  width: 1090px;
}
