html, body {
  margin:0;
  padding:0;
  height:100%;
}


body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: white;
   color: #515e63;
 }

 .container {
   min-height:100%;
   position:relative;
   padding-bottom: 200px;
}

 em{
   font-style: normal;
   font-weight: bold;
   color: #97d1de;
 }

 footer{
   text-align: center;
   background-color: #cfc4c2;
   padding: 30px;
   margin-left: -15px;
   margin-right: -15px;
   position: absolute;
   width: 100%;
   bottom: 0;
   margin-bottom: -125px;
 }

 footer p{
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   letter-spacing: 3px;
   font-size: 18px;
   font-weight: normal;
 }

 .footercontactme a{
   text-decoration: none;
   font-weight: bold;
   color: black;
   letter-spacing: 3px;
   font-size: 18px;
   text-shadow: 2px 2px #00dada;
 }

 .footerbold a{
   text-decoration: none;
   font-weight: bold;
   color: black;
   letter-spacing: 3px;
   font-size: 15px;
   text-shadow: 1px 1px #00dada;
 }

 .footersocialmedia p{
   font-size: 15px;
 }

 .centertitle h1{
   text-align: center;
   color: black;
   letter-spacing: 3px;
   font-size: 40px;
 }

 .tanbox{
   background-color: #cfc4c2;
   width: 150px;
   height: 37px;
   margin: auto;
 }

 .centertitle2 h1{
   text-align: center;
   color: black;
   letter-spacing: 3px;
   font-size: 40px;
 }

 .tanbox2{
   background-color: #cfc4c2;
   width: 180px;
   height: 37px;
   margin: auto;
 }

 .centertitle2{
   padding-bottom: 40px;
 }

 .centertitle3 h2{
   text-align: center;
   color: black;
   letter-spacing: 1px;
   font-size: 35px;
 }

 .tanbox3{
   background-color: #cfc4c2;
   width: 360px;
   height: 31px;
   margin: auto;
 }

 .centertitle3{
   padding-bottom: 25px;
 }

 .active{
   background: #e6e5e5;
 }

 .navigation {
   width: 1090px;
   margin: auto;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .navigation_flex1{
   flex-grow: 1;
   text-align: left;
 }

 .navigation_flex1 h1{
   font-size: 38px;
   margin-top: 5px;
 }

 .navigation_flex2{
   flex-grow: 1;
   text-align: right;
 }

 .navigation a{
   color: black;
   letter-spacing: 3px;
   font-size: 18px;
   font-weight: normal;
   border-bottom: solid;
   border-spacing: 1px;
   border-bottom-width: 2px;
   border-bottom-color: #00dada;
   text-decoration: none;
   margin: 15px;
 }

 .navigation a:hover{
   color: #00dada;
 }

 @keyframes topFade{
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }

 .introduction{
   margin: auto;
   padding: 20px;
   width: 800px;
 }

 #introduction_firstline{
   font-family: sans-serif;
   text-transform: lowercase;
   font-weight: lighter;
   font-style: italic;
   letter-spacing: 7px;
   color: #515e63;
 }

 #introduction_body h4{
   font-weight: lighter;
 }

  .indexflex{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
  }

  .indexflexrow1, .indexflexrow2{
    display: flex;
    margin: 0px auto;
  }

  .indexflexbox23, .indexflexbox13, .indexflexbox12{
    padding-left: 15px;
    padding-right: 15px;
  }

  .indexflexbox23 img{
    width: 700px;
  }

  .indexflexbox13 img{
    width: 350px;
  }

  .indexflexbox12 img{
    width: 525px;
  }

  .indexflexbox h2 a{
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    color: black;

  }

  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  figcaption.center {
    text-align: center;
  }

  .image_off, #one:hover .image_on{
     display:none
  }
  .image_on, #one:hover .image_off{
     display:block
  }

  .image_off, #two:hover .image_on{
     display:none
  }
  .image_on, #two:hover .image_off{
     display:block
  }

  .image_off, #three:hover .image_on{
     display:none
  }
  .image_on, #three:hover .image_off{
     display:block
  }

  .image_off, #four:hover .image_on{
     display:none
  }
  .image_on, #four:hover .image_off{
     display:block
  }

  .indexflexbox_projectcaption h3{
    color: black;
    letter-spacing: 3px;
    font-size: 26px;
    margin-top: -20px;
    margin-left: 10px;
    text-shadow: 3px 3px #00dada;
  }

  .indexflexbox_projectcaption h5{
    /* color: #515e63; */
    color: black;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: normal;
    margin-top: -13px;
    margin-left: 10px;
    text-align: right;
    font-style: italic;
  }

  .form{
    width: 500px;
    height: 400px;
    padding-top: 20px;
  }

  .errorStyle{
    color: red;
    font-size: 12px;
  }

  .headshot img{
    width: 500px;
    vertical-align: middle;
  }

  .headshot{
    padding-left: 40px;
  }

  .headshot cite{
    font-size: 14px;
  }

  .aboutme{
    width: 500px;
    vertical-align: middle;
  }

  .about_flex_container{
    display: flex;
    width: 1200px;
    height: 400px;
    margin: auto;
    border: 5px solid #00dada;
  }

  .about_flex_1, .about_flex_2{
    flex: 1;
    width: 600px;
    padding: 25px;
    margin: 10px auto;
    vertical-align: middle;
  }

  .about_flex_bottom_container{
    display: flex;
    width: 1200px;
    height: 400px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .about_flex_1_bottom, .about_flex_2_bottom{
    flex: 1;
    width: 500px;
    padding: 20px;
    margin: 30px auto;
  }

  .socialmediabox{
    margin: 5px;
  }

  .socialmediabox_background{
    background-color: #cfc4c2;
    width: 50px;
    height: 50px;
  }

  .socialmediabox img{
    width: 50px;
  }

  .citation_socialmedia{
    font-size: 10px;
    width: 100px;
  }

  .about_flex_1_bottom{
    padding-top: 60px;
    padding-left: 300px;
  }

  .about_flex_2_bottom .form{
    margin: left;
    padding-right: 300px;
  }

  input[type="submit"] {
    background-color: #cfc4c2;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }


  .confirmation_message{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    vertical-align: center;
  }

  .confirmation_message h2{
    font-size: 24px;
    color: black;
    letter-spacing: 3px;
    font-size: 22px;
    text-shadow: 2px 2px #00dada;
  }

  .confirmation_message h4, .confirmation_message li{
    font-size: 15px;
    color: black;
    text-align: left;
    padding-left: 30px;
  }

  .astRequired{
    color: red;
  }

  .aboutme em{
    color: #00dada;
    font-weight: normal;
    font-style: italic;
  }

  .designfiction_images img, .applefest_userImages img, .applefest_sketchImages img{
    width: 800px;
  }

  .travel_Images img{
    padding-top: 20px;
    width: 800px;
  }

  .travel_Images_final img, .applefest_finalImages img{
    width: 600px;
  }

  .travel_Images_final figcaption, .applefest_finalImages figcaption{
    font-style: italic;
    font-size: 14px;
  }

  .zumata_flex_container{
    display: flex;
}

  .zumata_flex_container img{
    width: 400px;
    margin: 10px auto;
}

  .zumata_diagram img, .zumata_initialdialogue img, .zumata_fivebuttons img{
    width: 800px;
}

  .zumata_initialbuttons img{
    width: 600px;
}
